@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

body {
  background-color: #18171f;
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-family: 'JetBrains Mono', monospace;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.password-generator h1{
  text-align: center;
  color: #53525a;
}

.container1{
  background-color: #24232b;
  
}

.container1 .password{
  margin-left: 10px;
  font-size: 1.5rem;
}


.container2 {
  background-color: #24232b;
  padding: 20px;
  width: 400px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.password-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.password {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 18px;
  text-align: left;
  flex-grow: 1;
}

.btn-copy {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.length-container {
  margin-bottom: 20px;
}

.length-selector {
  width: 100%;
  outline: none;
  height: 8px;
  border-radius: 5px;
  accent-color: #a4ffaf;
  cursor: pointer;
}


.length {
  color: #a4ffaf;
  font-size: 2rem;
  margin-bottom: 10px;
}

.text-and-length {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.options label {
  display: flex;
  margin-bottom: 15px;
  text-align: left;
  align-items: center;
  accent-color: #93e99f;
}

.options input[type="checkbox"] {
  width: 17px; 
  height: 17px; 
  margin-right: 15px; 
  appearance: none; 
  border: 2px solid #ffffff;
  background-color: transparent;
  outline: none; 
  cursor: pointer;
}

.options input[type="checkbox"]:checked {
  opacity: 1;
  background-color: #a4ffaf;
  border-color: #a4ffaf;
}

.generate-btn {
  background-color: #a4ffaf;
  color: #18171f;
  border: 1px solid transparent;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.1s;
  width: 100%;
  font-family: 'JetBrains Mono', monospace;
  text-transform: uppercase;
  box-sizing: border-box;
}

.generate-btn:hover {
  background-color: #24232b;
  color: #a4ffaf;
  border:1px solid #a4ffaf;
}
