@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

body {
  background-color: #18171f;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  font-family: 'JetBrains Mono', monospace;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #24232b;
  padding: 20px;
  width: 400px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.password-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1d1d;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.password {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 18px;
  width: 100%;
  text-align: left;
}

.btn-copy {
  background: none;
  border: none;
  cursor: pointer;
}

.length-container {
  margin-bottom: 20px;
}

.text {
  margin-bottom: 10px;
}

.length-selector {
  width: 100%;
}

.options label {
  display: block;
  margin-bottom: 10px;
}

.generate-btn {
  background-color: #a4ffaf;
  color: #18171f;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 100%;
}

.generate-btn:hover {
  background-color: #93e99f;
}
